In [10]:
import pandas as pd
from yaml import safe_load
import numpy as np
import os
from tqdm import tqdm
import pickle

In [11]:
with open("dataset_level2.pkl", "rb") as f:
    final_df = pickle.load(f)

final_df.shape


final_df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue
125,2,South Africa,Australia,0.1,1,0,Durban,"Kingsmead, Durban"
126,2,South Africa,Australia,0.2,4,0,Durban,"Kingsmead, Durban"
127,2,South Africa,Australia,0.3,0,0,Durban,"Kingsmead, Durban"
128,2,South Africa,Australia,0.4,0,0,Durban,"Kingsmead, Durban"
129,2,South Africa,Australia,0.5,4,0,Durban,"Kingsmead, Durban"
...,...,...,...,...,...,...,...,...
376563,3129,Bangladesh,Pakistan,19.2,0,0,Christchurch,"Hagley Oval, Christchurch"
376564,3129,Bangladesh,Pakistan,19.3,0,0,Christchurch,"Hagley Oval, Christchurch"
376565,3129,Bangladesh,Pakistan,19.4,0,Afif Hossain,Christchurch,"Hagley Oval, Christchurch"
376566,3129,Bangladesh,Pakistan,19.5,1,0,Christchurch,"Hagley Oval, Christchurch"
376567,3129,Bangladesh,Pakistan,19.6,2,0,Christchurch,"Hagley Oval, Christchurch"

In [12]:
final_df.isnull().sum()

match_id                0
batting_team            0
bowling_team            0
ball                    0
runs                    0
player_dismissed        0
city                12882
venue                   0
dtype: int64

In [13]:
cities=np.where(final_df['city'].isnull(),final_df['venue'].str.split().apply(lambda x:x[0]),final_df['city'])

In [14]:
final_df['city']=cities

In [15]:
final_df.isnull().sum()

match_id            0
batting_team        0
bowling_team        0
ball                0
runs                0
player_dismissed    0
city                0
venue               0
dtype: int64

In [16]:
final_df.drop(columns='venue',inplace=True)

In [17]:
final_df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city
125,2,South Africa,Australia,0.1,1,0,Durban
126,2,South Africa,Australia,0.2,4,0,Durban
127,2,South Africa,Australia,0.3,0,0,Durban
128,2,South Africa,Australia,0.4,0,0,Durban
129,2,South Africa,Australia,0.5,4,0,Durban
...,...,...,...,...,...,...,...
376563,3129,Bangladesh,Pakistan,19.2,0,0,Christchurch
376564,3129,Bangladesh,Pakistan,19.3,0,0,Christchurch
376565,3129,Bangladesh,Pakistan,19.4,0,Afif Hossain,Christchurch
376566,3129,Bangladesh,Pakistan,19.5,1,0,Christchurch
376567,3129,Bangladesh,Pakistan,19.6,2,0,Christchurch

In [18]:
final_df['city'].value_counts()

city
Dubai           10226
Harare           6979
Colombo          5986
Abu Dhabi        4194
Johannesburg     4024
                ...
Nairobi           123
Cairns            122
Derry             121
Gwalior           121
Accra             113
Name: count, Length: 140, dtype: int64

In [19]:
final_df['city'].value_counts()[final_df['city'].value_counts()>600].shape

(80,)

In [20]:
final_df['city'].value_counts()[final_df['city'].value_counts()>600].sum()

np.int64(146012)

In [21]:
eligible=final_df['city'].value_counts()[final_df['city'].value_counts()>600].index.tolist()

In [22]:
df = final_df[final_df['city'].isin(eligible)].copy()

In [23]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city
125,2,South Africa,Australia,0.1,1,0,Durban
126,2,South Africa,Australia,0.2,4,0,Durban
127,2,South Africa,Australia,0.3,0,0,Durban
128,2,South Africa,Australia,0.4,0,0,Durban
129,2,South Africa,Australia,0.5,4,0,Durban
...,...,...,...,...,...,...,...
376563,3129,Bangladesh,Pakistan,19.2,0,0,Christchurch
376564,3129,Bangladesh,Pakistan,19.3,0,0,Christchurch
376565,3129,Bangladesh,Pakistan,19.4,0,Afif Hossain,Christchurch
376566,3129,Bangladesh,Pakistan,19.5,1,0,Christchurch
376567,3129,Bangladesh,Pakistan,19.6,2,0,Christchurch

In [24]:
df['runs'] = pd.to_numeric(df['runs'], errors='coerce')
df['curr_score']=df.groupby('match_id')['runs'].cumsum()

In [25]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,curr_score
125,2,South Africa,Australia,0.1,1,0,Durban,1
126,2,South Africa,Australia,0.2,4,0,Durban,5
127,2,South Africa,Australia,0.3,0,0,Durban,5
128,2,South Africa,Australia,0.4,0,0,Durban,5
129,2,South Africa,Australia,0.5,4,0,Durban,9
...,...,...,...,...,...,...,...,...
376563,3129,Bangladesh,Pakistan,19.2,0,0,Christchurch,170
376564,3129,Bangladesh,Pakistan,19.3,0,0,Christchurch,170
376565,3129,Bangladesh,Pakistan,19.4,0,Afif Hossain,Christchurch,170
376566,3129,Bangladesh,Pakistan,19.5,1,0,Christchurch,171
376567,3129,Bangladesh,Pakistan,19.6,2,0,Christchurch,173

In [26]:
df['over']=df['ball'].apply(lambda x:str(x).split(".")[0])
df['balls']=df['ball'].apply(lambda x:str(x).split(".")[1])

In [27]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,curr_score,over,balls
125,2,South Africa,Australia,0.1,1,0,Durban,1,0,1
126,2,South Africa,Australia,0.2,4,0,Durban,5,0,2
127,2,South Africa,Australia,0.3,0,0,Durban,5,0,3
128,2,South Africa,Australia,0.4,0,0,Durban,5,0,4
129,2,South Africa,Australia,0.5,4,0,Durban,9,0,5
...,...,...,...,...,...,...,...,...,...,...
376563,3129,Bangladesh,Pakistan,19.2,0,0,Christchurch,170,19,2
376564,3129,Bangladesh,Pakistan,19.3,0,0,Christchurch,170,19,3
376565,3129,Bangladesh,Pakistan,19.4,0,Afif Hossain,Christchurch,170,19,4
376566,3129,Bangladesh,Pakistan,19.5,1,0,Christchurch,171,19,5
376567,3129,Bangladesh,Pakistan,19.6,2,0,Christchurch,173,19,6

In [28]:
df['balls_bowled']=(df['over'].astype('int')*6+df['balls'].astype('int'))

In [29]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,curr_score,over,balls,balls_bowled
125,2,South Africa,Australia,0.1,1,0,Durban,1,0,1,1
126,2,South Africa,Australia,0.2,4,0,Durban,5,0,2,2
127,2,South Africa,Australia,0.3,0,0,Durban,5,0,3,3
128,2,South Africa,Australia,0.4,0,0,Durban,5,0,4,4
129,2,South Africa,Australia,0.5,4,0,Durban,9,0,5,5
...,...,...,...,...,...,...,...,...,...,...,...
376563,3129,Bangladesh,Pakistan,19.2,0,0,Christchurch,170,19,2,116
376564,3129,Bangladesh,Pakistan,19.3,0,0,Christchurch,170,19,3,117
376565,3129,Bangladesh,Pakistan,19.4,0,Afif Hossain,Christchurch,170,19,4,118
376566,3129,Bangladesh,Pakistan,19.5,1,0,Christchurch,171,19,5,119
376567,3129,Bangladesh,Pakistan,19.6,2,0,Christchurch,173,19,6,120

In [30]:
df['balls_left']=120-df['balls_bowled']
df['balls_left']=df['balls_left'].apply(lambda x:0 if x<0 else x)

In [31]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,curr_score,over,balls,balls_bowled,balls_left
125,2,South Africa,Australia,0.1,1,0,Durban,1,0,1,1,119
126,2,South Africa,Australia,0.2,4,0,Durban,5,0,2,2,118
127,2,South Africa,Australia,0.3,0,0,Durban,5,0,3,3,117
128,2,South Africa,Australia,0.4,0,0,Durban,5,0,4,4,116
129,2,South Africa,Australia,0.5,4,0,Durban,9,0,5,5,115
...,...,...,...,...,...,...,...,...,...,...,...,...
376563,3129,Bangladesh,Pakistan,19.2,0,0,Christchurch,170,19,2,116,4
376564,3129,Bangladesh,Pakistan,19.3,0,0,Christchurch,170,19,3,117,3
376565,3129,Bangladesh,Pakistan,19.4,0,Afif Hossain,Christchurch,170,19,4,118,2
376566,3129,Bangladesh,Pakistan,19.5,1,0,Christchurch,171,19,5,119,1
376567,3129,Bangladesh,Pakistan,19.6,2,0,Christchurch,173,19,6,120,0

In [32]:
df['players_dismissed']=df['player_dismissed'].apply(lambda x:0 if x=='0' else 1)
df['players_dismissed']=df['players_dismissed'].astype('int')
df['players_dismissed']=df.groupby('match_id')['players_dismissed'].cumsum()
df['wickets_left']=10-df['players_dismissed']

In [33]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,curr_score,over,balls,balls_bowled,balls_left,players_dismissed,wickets_left
125,2,South Africa,Australia,0.1,1,0,Durban,1,0,1,1,119,0,10
126,2,South Africa,Australia,0.2,4,0,Durban,5,0,2,2,118,0,10
127,2,South Africa,Australia,0.3,0,0,Durban,5,0,3,3,117,0,10
128,2,South Africa,Australia,0.4,0,0,Durban,5,0,4,4,116,0,10
129,2,South Africa,Australia,0.5,4,0,Durban,9,0,5,5,115,0,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
376563,3129,Bangladesh,Pakistan,19.2,0,0,Christchurch,170,19,2,116,4,5,5
376564,3129,Bangladesh,Pakistan,19.3,0,0,Christchurch,170,19,3,117,3,5,5
376565,3129,Bangladesh,Pakistan,19.4,0,Afif Hossain,Christchurch,170,19,4,118,2,6,4
376566,3129,Bangladesh,Pakistan,19.5,1,0,Christchurch,171,19,5,119,1,6,4
376567,3129,Bangladesh,Pakistan,19.6,2,0,Christchurch,173,19,6,120,0,6,4

In [34]:
df['crr']=(df['curr_score']*6)/df['balls_bowled']

In [35]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,curr_score,over,balls,balls_bowled,balls_left,players_dismissed,wickets_left,crr
125,2,South Africa,Australia,0.1,1,0,Durban,1,0,1,1,119,0,10,6.000000
126,2,South Africa,Australia,0.2,4,0,Durban,5,0,2,2,118,0,10,15.000000
127,2,South Africa,Australia,0.3,0,0,Durban,5,0,3,3,117,0,10,10.000000
128,2,South Africa,Australia,0.4,0,0,Durban,5,0,4,4,116,0,10,7.500000
129,2,South Africa,Australia,0.5,4,0,Durban,9,0,5,5,115,0,10,10.800000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
376563,3129,Bangladesh,Pakistan,19.2,0,0,Christchurch,170,19,2,116,4,5,5,8.793103
376564,3129,Bangladesh,Pakistan,19.3,0,0,Christchurch,170,19,3,117,3,5,5,8.717949
376565,3129,Bangladesh,Pakistan,19.4,0,Afif Hossain,Christchurch,170,19,4,118,2,6,4,8.644068
376566,3129,Bangladesh,Pakistan,19.5,1,0,Christchurch,171,19,5,119,1,6,4,8.621849
376567,3129,Bangladesh,Pakistan,19.6,2,0,Christchurch,173,19,6,120,0,6,4,8.650000

In [36]:
from pandas.tseries.offsets import LastWeekOfMonth
groups=df.groupby('match_id')
match_ids=df['match_id'].unique()
last_five=[]
for id in match_ids:
  last_five.extend(groups.get_group(id)['runs'].rolling(window=30).sum().values.tolist())

In [37]:
last_five

[nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 45.0,
 45.0,
 41.0,
 41.0,
 41.0,
 37.0,
 36.0,
 36.0,
 30.0,
 34.0,
 32.0,
 28.0,
 29.0,
 26.0,
 22.0,
 23.0,
 20.0,
 19.0,
 20.0,
 20.0,
 21.0,
 21.0,
 22.0,
 23.0,
 26.0,
 22.0,
 22.0,
 22.0,
 22.0,
 23.0,
 29.0,
 29.0,
 33.0,
 37.0,
 39.0,
 39.0,
 40.0,
 41.0,
 42.0,
 39.0,
 43.0,
 44.0,
 43.0,
 43.0,
 44.0,
 43.0,
 42.0,
 45.0,
 45.0,
 46.0,
 45.0,
 45.0,
 48.0,
 47.0,
 43.0,
 42.0,
 42.0,
 43.0,
 42.0,
 42.0,
 40.0,
 40.0,
 42.0,
 39.0,
 38.0,
 39.0,
 39.0,
 39.0,
 38.0,
 38.0,
 35.0,
 38.0,
 43.0,
 43.0,
 43.0,
 44.0,
 48.0,
 46.0,
 46.0,
 45.0,
 45.0,
 46.0,
 43.0,
 43.0,
 43.0,
 43.0,
 46.0,
 46.0,
 46.0,
 47.0,
 44.0,
 43.0,
 41.0,
 42.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 33.0,
 33.0,
 36.0,
 36.0,
 34.0,
 34.0,
 35.0,
 36.0,
 36.0,
 36.0,
 32.0,
 33.0,
 32.0,
 29.0,
 23.0,
 23.0,
 26.0,
 27.0,
 27.0,
 27.0,
 27.0,
 26.0,
 27.0,
 27.0,
 27.0,
 23.0,
 24.0,
 25.0,
 27.0,
 27.0,
 28.0,
 29.0,
 26.0,
 27.0,
 26.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 26.0,
 27.0,
 27.0,
 26.0,
 28.0,
 28.0,
 25.0,
 25.0,
 25.0,
 25.0,
 24.0,
 25.0,
 24.0,
 25.0,
 25.0,
 29.0,
 30.0,
 29.0,
 31.0,
 31.0,
 31.0,
 31.0,
 30.0,
 29.0,
 30.0,
 29.0,
 34.0,
 34.0,
 35.0,
 35.0,
 34.0,
 33.0,
 38.0,
 39.0,
 37.0,
 38.0,
 38.0,
 38.0,
 37.0,
 38.0,
 40.0,
 43.0,
 49.0,
 50.0,
 51.0,
 47.0,
 46.0,
 52.0,
 48.0,
 49.0,
 49.0,
 49.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 22.0,
 22.0,
 18.0,
 16.0,
 16.0,
 12.0,
 12.0,
 12.0,
 12.0,
 13.0,
 14.0,
 14.0,
 13.0,
 13.0,
 13.0,
 12.0,
 10.0,
 10.0,
 11.0,
 9.0,
 9.0,
 9.0,
 15.0,
 16.0,
 16.0,
 15.0,
 15.0,
 16.0,
 17.0,
 15.0,
 15.0,
 16.0,
 22.0,
 22.0,
 22.0,
 23.0,
 22.0,
 22.0,
 24.0,
 23.0,
 22.0,
 21.0,
 21.0,
 22.0,
 22.0,
 22.0,
 23.0,
 24.0,
 23.0,
 23.0,
 23.0,
 26.0,
 20.0,
 19.0,
 20.0,
 20.0,
 21.0,
 20.0,
 20.0,
 21.0,
 22.0,
 24.0,
 19.0,
 20.0,
 20.0,
 20.0,
 20.0,
 21.0,
 23.0,
 24.0,
 24.0,
 30.0,
 31.0,
 31.0,
 32.0,
 32.0,
 31.0,
 31.0,
 35.0,
 35.0,
 35.0,
 31.0,
 31.0,
 35.0,
 34.0,
 34.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 37.0,
 37.0,
 36.0,
 36.0,
 36.0,
 36.0,
 37.0,
 37.0,
 37.0,
 37.0,
 41.0,
 40.0,
 44.0,
 50.0,
 52.0,
 54.0,
 55.0,
 55.0,
 56.0,
 57.0,
 61.0,
 59.0,
 59.0,
 56.0,
 55.0,
 54.0,
 54.0,
 53.0,
 50.0,
 50.0,
 49.0,
 50.0,
 49.0,
 53.0,
 53.0,
 52.0,
 51.0,
 51.0,
 51.0,
 52.0,
 48.0,
 49.0,
 45.0,
 40.0,
 35.0,
 29.0,
 28.0,
 25.0,
 24.0,
 24.0,
 20.0,
 18.0,
 18.0,
 19.0,
 21.0,
 21.0,
 22.0,
 24.0,
 27.0,
 27.0,
 29.0,
 27.0,
 28.0,
 25.0,
 26.0,
 28.0,
 29.0,
 30.0,
 29.0,
 32.0,
 33.0,
 38.0,
 38.0,
 39.0,
 39.0,
 40.0,
 40.0,
 39.0,
 39.0,
 39.0,
 40.0,
 41.0,
 41.0,
 40.0,
 38.0,
 39.0,
 39.0,
 39.0,
 36.0,
 36.0,
 36.0,
 40.0,
 41.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 46.0,
 45.0,
 46.0,
 46.0,
 46.0,
 47.0,
 47.0,
 46.0,
 46.0,
 46.0,
 46.0,
 43.0,
 43.0,
 49.0,
 49.0,
 45.0,
 43.0,
 43.0,
 42.0,
 44.0,
 43.0,
 39.0,
 37.0,
 32.0,
 33.0,
 34.0,
 30.0,
 27.0,
 24.0,
 23.0,
 24.0,
 24.0,
 23.0,
 24.0,
 24.0,
 24.0,
 24.0,
 25.0,
 26.0,
 25.0,
 25.0,
 24.0,
 24.0,
 19.0,
 18.0,
 19.0,
 20.0,
 20.0,
 20.0,
 19.0,
 20.0,
 24.0,
 23.0,
 22.0,
 21.0,
 20.0,
 21.0,
 20.0,
 19.0,
 18.0,
 17.0,
 23.0,
 24.0,
 23.0,
 23.0,
 23.0,
 29.0,
 31.0,
 31.0,
 37.0,
 40.0,
 42.0,
 43.0,
 46.0,
 46.0,
 46.0,
 45.0,
 46.0,
 48.0,
 48.0,
 48.0,
 44.0,
 43.0,
 49.0,
 49.0,
 50.0,
 53.0,
 59.0,
 60.0,
 64.0,
 64.0,
 58.0,
 61.0,
 61.0,
 65.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 28.0,
 28.0,
 29.0,
 33.0,
 37.0,
 39.0,
 39.0,
 40.0,
 40.0,
 40.0,
 41.0,
 41.0,
 35.0,
 36.0,
 36.0,
 36.0,
 36.0,
 41.0,
 42.0,
 43.0,
 40.0,
 37.0,
 38.0,
 39.0,
 39.0,
 40.0,
 40.0,
 46.0,
 48.0,
 54.0,
 59.0,
 59.0,
 58.0,
 55.0,
 55.0,
 54.0,
 55.0,
 54.0,
 53.0,
 49.0,
 49.0,
 50.0,
 51.0,
 51.0,
 51.0,
 52.0,
 53.0,
 48.0,
 53.0,
 54.0,
 53.0,
 52.0,
 52.0,
 52.0,
 52.0,
 52.0,
 53.0,
 48.0,
 43.0,
 37.0,
 32.0,
 32.0,
 33.0,
 34.0,
 31.0,
 30.0,
 30.0,
 30.0,
 31.0,
 32.0,
 32.0,
 32.0,
 33.0,
 33.0,
 33.0,
 32.0,
 32.0,
 34.0,
 34.0,
 33.0,
 34.0,
 35.0,
 35.0,
 34.0,
 33.0,
 32.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 28.0,
 27.0,
 27.0,
 28.0,
 31.0,
 30.0,
 29.0,
 29.0,
 29.0,
 31.0,
 32.0,
 32.0,
 33.0,
 33.0,
 38.0,
 37.0,
 33.0,
 33.0,
 33.0,
 34.0,
 31.0,
 30.0,
 33.0,
 33.0,
 34.0,
 30.0,
 31.0,
 30.0,
 28.0,
 28.0,
 29.0,
 30.0,
 30.0,
 29.0,
 26.0,
 26.0,
 27.0,
 30.0,
 30.0,
 29.0,
 29.0,
 32.0,
 32.0,
 32.0,
 26.0,
 27.0,
 29.0,
 29.0,
 29.0,
 29.0,
 32.0,
 32.0,
 29.0,
 28.0,
 28.0,
 29.0,
 29.0,
 33.0,
 33.0,
 34.0,
 33.0,
 33.0,
 33.0,
 34.0,
 33.0,
 33.0,
 33.0,
 31.0,
 31.0,
 30.0,
 30.0,
 27.0,
 27.0,
 29.0,
 35.0,
 34.0,
 32.0,
 31.0,
 33.0,
 32.0,
 28.0,
 29.0,
 28.0,
 29.0,
 29.0,
 29.0,
 29.0,
 29.0,
 33.0,
 33.0,
 33.0,
 36.0,
 35.0,
 35.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 27.0,
 26.0,
 25.0,
 29.0,
 31.0,
 30.0,
 32.0,
 30.0,
 30.0,
 32.0,
 38.0,
 36.0,
 37.0,
 37.0,
 37.0,
 38.0,
 40.0,
 39.0,
 40.0,
 41.0,
 42.0,
 42.0,
 44.0,
 43.0,
 43.0,
 43.0,
 44.0,
 46.0,
 47.0,
 46.0,
 46.0,
 47.0,
 47.0,
 45.0,
 42.0,
 43.0,
 41.0,
 40.0,
 41.0,
 41.0,
 35.0,
 36.0,
 34.0,
 34.0,
 34.0,
 34.0,
 32.0,
 33.0,
 38.0,
 43.0,
 45.0,
 44.0,
 42.0,
 43.0,
 43.0,
 43.0,
 42.0,
 39.0,
 39.0,
 39.0,
 36.0,
 36.0,
 37.0,
 35.0,
 36.0,
 36.0,
 40.0,
 39.0,
 37.0,
 37.0,
 38.0,
 37.0,
 38.0,
 38.0,
 38.0,
 38.0,
 40.0,
 41.0,
 35.0,
 30.0,
 27.0,
 28.0,
 28.0,
 28.0,
 28.0,
 28.0,
 31.0,
 31.0,
 30.0,
 29.0,
 28.0,
 27.0,
 25.0,
 26.0,
 25.0,
 25.0,
 21.0,
 21.0,
 21.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 ...]

In [38]:
df['last_five']=last_five

In [39]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,curr_score,over,balls,balls_bowled,balls_left,players_dismissed,wickets_left,crr,last_five
125,2,South Africa,Australia,0.1,1,0,Durban,1,0,1,1,119,0,10,6.000000,NaN
126,2,South Africa,Australia,0.2,4,0,Durban,5,0,2,2,118,0,10,15.000000,NaN
127,2,South Africa,Australia,0.3,0,0,Durban,5,0,3,3,117,0,10,10.000000,NaN
128,2,South Africa,Australia,0.4,0,0,Durban,5,0,4,4,116,0,10,7.500000,NaN
129,2,South Africa,Australia,0.5,4,0,Durban,9,0,5,5,115,0,10,10.800000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
376563,3129,Bangladesh,Pakistan,19.2,0,0,Christchurch,170,19,2,116,4,5,5,8.793103,41.0
376564,3129,Bangladesh,Pakistan,19.3,0,0,Christchurch,170,19,3,117,3,5,5,8.717949,41.0
376565,3129,Bangladesh,Pakistan,19.4,0,Afif Hossain,Christchurch,170,19,4,118,2,6,4,8.644068,40.0
376566,3129,Bangladesh,Pakistan,19.5,1,0,Christchurch,171,19,5,119,1,6,4,8.621849,41.0
376567,3129,Bangladesh,Pakistan,19.6,2,0,Christchurch,173,19,6,120,0,6,4,8.650000,42.0

In [40]:
df=df.groupby('match_id').sum()['runs'].reset_index().merge(df,on='match_id')

In [41]:
df=df[['batting_team','bowling_team','city','curr_score','balls_left','wickets_left','crr','last_five','runs_x']]

In [42]:
df.isnull().sum()

batting_team        0
bowling_team        0
city                0
curr_score          0
balls_left          0
wickets_left        0
crr                 0
last_five       34942
runs_x              0
dtype: int64

In [43]:
df.dropna(inplace=True)

In [44]:
df.isnull().sum()

batting_team    0
bowling_team    0
city            0
curr_score      0
balls_left      0
wickets_left    0
crr             0
last_five       0
runs_x          0
dtype: int64

In [45]:
df=df.sample(df.shape[0])

In [46]:
df

,batting_team,bowling_team,city,curr_score,balls_left,wickets_left,crr,last_five,runs_x
100778,India,Pakistan,Dubai,125,13,5,7.009346,38.0,151
135317,Pakistan,New Zealand,Wellington,23,90,8,4.600000,19.0,128
888,Bangladesh,Pakistan,Cape Town,54,81,9,8.307692,40.0,140
125274,Bahrain,Malaysia,Kuala Lumpur,122,6,5,6.421053,56.0,126
140090,New Zealand,Pakistan,Hamilton,191,5,2,9.965217,42.0,194
...,...,...,...,...,...,...,...,...,...
85184,Ireland,South Africa,Abu Dhabi,165,10,5,9.000000,42.0,171
87427,India,Australia,Durban,109,36,8,7.785714,61.0,188
63910,Bangladesh,Australia,Bangalore,38,80,8,5.700000,33.0,156
29541,England,South Africa,Cape Town,83,39,4,6.148148,15.0,134
4715,Nepal,West Indies,Sharjah,118,7,1,6.265487,29.0,122

In [47]:
X=df.drop(columns=['runs_x'])
y=df['runs_x']
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=1)

In [48]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.metrics import r2_score,mean_absolute_error

In [49]:
trf=ColumnTransformer(
    [('trf',OneHotEncoder(sparse_output=False,drop='first'),['batting_team','bowling_team','city'])],remainder='passthrough'
)

In [50]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestRegressor

categorical_features = ['batting_team', 'bowling_team', 'city']
numerical_features = ['curr_score', 'balls_left', 'wickets_left', 'crr', 'last_five']

preprocessor = ColumnTransformer(
    transformers=[
        ('cat', OneHotEncoder(sparse_output=False, drop='first'), categorical_features),
        ('num', StandardScaler(), numerical_features)
    ],
    remainder='passthrough'
)

rf_pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('regressor', RandomForestRegressor(n_estimators=100, random_state=1))
])

rf_pipeline.fit(X_train, y_train)
print("RandomForestRegressor pipeline created and trained successfully.")

RandomForestRegressor pipeline created and trained successfully.

In [51]:
y_pred_rf = rf_pipeline.predict(X_test)

r2_rf = r2_score(y_test, y_pred_rf)
mae_rf = mean_absolute_error(y_test, y_pred_rf)

print(f"RandomForestRegressor R-squared: {r2_rf:.4f}")
print(f"RandomForestRegressor Mean Absolute Error: {mae_rf:.4f}")

RandomForestRegressor R-squared: 0.9700
RandomForestRegressor Mean Absolute Error: 2.9425

In [52]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.pipeline import Pipeline
from xgboost import XGBRegressor


xgb_pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('regressor', XGBRegressor(n_estimators=1000, random_state=1, learning_rate=0.2,max_depth=12))
])


xgb_pipeline.fit(X_train, y_train)
print("XGBRegressor pipeline created and trained successfully.")

XGBRegressor pipeline created and trained successfully.

In [53]:
y_pred_xgb = xgb_pipeline.predict(X_test)

r2_xgb = r2_score(y_test, y_pred_xgb)
mae_xgb = mean_absolute_error(y_test, y_pred_xgb)

print(f"XGBRegressor R-squared: {r2_xgb:.4f}")
print(f"XGBRegressor Mean Absolute Error: {mae_xgb:.4f}")

XGBRegressor R-squared: 0.9855
XGBRegressor Mean Absolute Error: 1.9660

In [54]:
print(f"\n--- Model Performance Comparison ---")
print(f"RandomForestRegressor R-squared: {r2_rf:.4f}")
print(f"RandomForestRegressor Mean Absolute Error: {mae_rf:.4f}")
print(f"XGBRegressor R-squared: {r2_xgb:.4f}")
print(f"XGBRegressor Mean Absolute Error: {mae_xgb:.4f}")

if r2_rf > r2_xgb and mae_rf < mae_xgb:
    print("\nBased on the R-squared and Mean Absolute Error, RandomForestRegressor performed better.")
elif r2_xgb > r2_rf and mae_xgb < mae_rf:
    print("\nBased on the R-squared and Mean Absolute Error, XGBRegressor performed better.")
else:
    print("\nThe performance of both models is comparable or requires further analysis to determine a clear winner.")

--- Model Performance Comparison ---
RandomForestRegressor R-squared: 0.9700
RandomForestRegressor Mean Absolute Error: 2.9425
XGBRegressor R-squared: 0.9855
XGBRegressor Mean Absolute Error: 1.9660

Based on the R-squared and Mean Absolute Error, XGBRegressor performed better.

In [55]:
import pickle

with open("xgb_pipeline.pkl", "wb") as f:
    pickle.dump(xgb_pipeline, f)

In [56]:
unique_cities = df['city'].unique().tolist()
print(unique_cities)

['Dubai', 'Wellington', 'Cape Town', 'Kuala Lumpur', 'Hamilton', 'Christchurch', "St George's", 'Pallekele', 'Edinburgh', 'Melbourne', 'Chattogram', 'Harare', 'Dhaka', 'Bangalore', 'Colombo', 'Basseterre', 'Cardiff', 'Johannesburg', 'Kigali City', 'Rajkot', 'Sydney', 'Napier', 'Auckland', 'Kandy', 'Canberra', 'Manchester', 'Bridgetown', 'Adelaide', 'Perth', 'Mumbai', 'Hambantota', 'Al Amarat', 'Hobart', 'Abu Dhabi', 'Chester-le-Street', 'Trinidad', 'Guyana', 'Nottingham', 'Sharjah', 'Tarouba', 'Southampton', 'St Lucia', 'Mirpur', 'Glasgow', 'London', 'Lahore', 'Brisbane', 'Mount Maunganui', 'Barbados', 'Karachi', 'Kolkata', 'Sylhet', 'Delhi', 'Chandigarh', 'Rawalpindi', 'Birmingham', 'Centurion', 'Gros Islet', 'Kingston', 'Mong Kok', 'Dambulla', 'Dharamsala', 'The Hague', 'Ahmedabad', 'Kirtipur', 'Lauderhill', 'Kathmandu', 'Kingstown', 'Pune', 'Dublin', 'Nagpur', 'Durban', 'Bristol', 'Entebbe', 'Providence', 'Chittagong', 'Belfast', 'Rotterdam', 'Bulawayo', 'Visakhapatnam']